CREATE DATABASE [PRODUCT DATABASE]
GO
USE [PRODUCT DATABASE]
GO

CREATE TABLE [dbo].[TIME_DATA](
	[TimeKey] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[FullDateAlternateKey] [datetime] NULL,
	[DayNumberOfWeek] [tinyint] NULL,
	[EnglishDayNameOfWeek] [nvarchar](10) NULL,
	[SpanishDayNameOfWeek] [nvarchar](10) NULL,
	[FrenchDayNameOfWeek] [nvarchar](10) NULL,
	[DayNumberOfMonth] [tinyint] NULL,
	[DayNumberOfYear] [smallint] NULL,
	[WeekNumberOfYear] [tinyint] NULL,
	[EnglishMonthName] [nvarchar](10) NULL,
	[SpanishMonthName] [nvarchar](10) NULL,
	[FrenchMonthName] [nvarchar](10) NULL,
	[MonthNumberOfYear] [tinyint] NULL,
	[CalendarQuarter] [tinyint] NULL,
	[CalendarYear] [char](4) NULL,
	[CalendarSemester] [tinyint] NULL,
	[FiscalQuarter] [tinyint] NULL,
	[FiscalYear] [char](4) NULL,
	[FiscalSemester] [tinyint] NULL
)

GO

SET IDENTITY_INSERT [dbo].[TIME_DATA] ON 

INSERT [dbo].[TIME_DATA] ([TimeKey], [FullDateAlternateKey], [DayNumberOfWeek], [EnglishDayNameOfWeek], [SpanishDayNameOfWeek], [FrenchDayNameOfWeek], [DayNumberOfMonth], [DayNumberOfYear], [WeekNumberOfYear], [EnglishMonthName], [SpanishMonthName], [FrenchMonthName], [MonthNumberOfYear], [CalendarQuarter], [CalendarYear], [CalendarSemester], [FiscalQuarter], [FiscalYear], [FiscalSemester]) VALUES (1, CAST(N'2001-07-01 00:00:00.000' AS DateTime), 1, N'Sunday', N'Domingo', N'Dimanche', 1, 182, 27, N'July', N'Julio', N'Juillet', 7, 3, N'2001', 2, 1, N'2002', 1)
INSERT [dbo].[TIME_DATA] ([TimeKey], [FullDateAlternateKey], [DayNumberOfWeek], [EnglishDayNameOfWeek], [SpanishDayNameOfWeek], [FrenchDayNameOfWeek], [DayNumberOfMonth], [DayNumberOfYear], [WeekNumberOfYear], [EnglishMonthName], [SpanishMonthName], [FrenchMonthName], [MonthNumberOfYear], [CalendarQuarter], [CalendarYear], [CalendarSemester], [FiscalQuarter], [FiscalYear], [FiscalSemester]) VALUES (2, CAST(N'2001-07-02 00:00:00.000' AS DateTime), 2, N'Monday', N'Lunes', N'Lundi', 2, 183, 27, N'July', N'Julio', N'Juillet', 7, 3, N'2001', 2, 1, N'2002', 1)
INSERT [dbo].[TIME_DATA] ([TimeKey], [FullDateAlternateKey], [DayNumberOfWeek], [EnglishDayNameOfWeek], [SpanishDayNameOfWeek], [FrenchDayNameOfWeek], [DayNumberOfMonth], [DayNumberOfYear], [WeekNumberOfYear], [EnglishMonthName], [SpanishMonthName], [FrenchMonthName], [MonthNumberOfYear], [CalendarQuarter], [CalendarYear], [CalendarSemester], [FiscalQuarter], [FiscalYear], [FiscalSemester]) VALUES (3, CAST(N'2001-07-03 00:00:00.000' AS DateTime), 3, N'Tuesday', N'Martes', N'Mardi', 3, 184, 27, N'July', N'Julio', N'Juillet', 7, 3, N'2001', 2, 1, N'2002', 1)
GO
SET IDENTITY_INSERT [dbo].[TIME_DATA] OFF